{{define "table"}}
<table>
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
            <td>
                Valid
            </td>
            <td>
                Description
            </td>
            <td>
                Count
            </td>
            <td>
                Price
            </td>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        {{block "tableRow" .}}
        <tr>
            <td>
                {{ .Id }}
            </td>
            <td>
                {{ .Name }}
            </td>
            <td>
                {{ .Valid }}
            </td>
            <td>
                {{ .Description }}
            </td>
            <td>
                {{ .Count }}
            </td>
            <td>
                {{ .Price }}
            </td>
        </tr>
        {{end}}
        {{end}}
    </tbody>
</table>
{{end}}
