{{define "table"}}
<table>
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
            <td>
                Valid
            </td>
            <td>
                Description
            </td>
            <td>
                Count
            </td>
            <td>
                Price
            </td>
            <td>
                Customer Name
            </td>
            <td>
                Customer Address
            </td>
            <td>
                Customer City
            </td>
            <td>
                Customer Zip
            </td>
            <td>
                Customer EMail
            </td>
            <td>
                Customer Phone
            </td>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        {{block "tableRow" .}}
        <tr>
            <td>
                {{ .Id }}
            </td>
            <td>
                {{ .Name }}
            </td>
            <td>
                {{ .Valid }}
            </td>
            <td>
                {{ .Description }}
            </td>
            <td>
                {{ .Count }}
            </td>
            <td>
                {{ .Price }}
            </td>
            <td>
                {{ .Customer.Name }}
            </td>
            <td>
                {{ .Customer.Address }}
            </td>
            <td>
                {{ .Customer.City }}
            </td>
            <td>
                {{ .Customer.Zip }}
            </td>
            <td>
                {{ .Customer.EMail }}
            </td>
            <td>
                {{ .Customer.Phone }}
            </td>
        </tr>
        {{end}}
        {{end}}
    </tbody>
</table>
{{end}}
